{% extends "base.html" %}

{% block content %}

<article class="blog-post container">
{# post header section #}
  <header class="article-header container">
    <div class="articler-header-title">
    <h2>{{ instance.title }}</h2>
    </div>
    <div class="article-header-meta">
      {% if user.get_full_name %}
        <p class="text-capitalize">{{ user.get_full_name }}</p>
      {% endif %}
      <small>{{ instance.timestamp.date }}</small>
      <small>{{ instance.timestamp.time }}</small>
    </div>
  </header>

{# images post section #}
  {% if instance.images %}
    <section class="post-image">
      <img src="{{ instance.images.url }}" alt="post image" class="img-thumbnail" />
    </section>
  {% endif %}

  {# post body section #}
  <section class="article-body">
    <div class="post-container">
        <div class="content-markdown">
            {{ instance.post }}
        </div>
    </div>
  </section>
  <div class="hr container" style="padding: 0 100px;">
    <hr>
  </div>
  {# footer section #}
  <footer class="article-footer">
    <div class="container">
      </div>
      <div class="article-footer-comments">
      </div>
    </div>
    <div class="comments">
        <div class="article-footer-social">
            <div class="fb-like"
            data-href="https://www.your-domain.com/your-page.html"
            data-layout="standard"
            data-action="like"
            data-show-faces="true">
        </div>
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
    </div>
  </footer>
</article>
{% endblock %}
